# Which databases should be backuped? Options are "mysql", "postgres" and "ejabberd" at the moment.
#  MySQL needs mysql_user and mysql_pass set
#  Postgres needs the user which runs the backupscript to be a postgres-superuser. You can make root a postgres-superuser by issuing "createuser root"
#  Ejabberd needs ?
databases="mysql postgres ejabberd"

# MySQL user
mysql_user="root"

#MmySQL password
mysql_pass=""
